#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: white;
    padding: 20 !important;
}

.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav a{
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.title{
    padding-bottom: 50px; 
}

/* -- web-pages -- */

#web-pages{
    padding-top: 2%;
    padding-bottom: 2%;
}

.title {
    font-family: system-ui;
    color: wheat;

}