#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(90deg, #69b6ad,#29b9da);
    padding: 20 !important;
}

.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav a{
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.title{
    padding-bottom: 50px; 
}


/* -- header -- */



/* -- about -- */
#about{
    background-image: linear-gradient(90deg, #69b6ad,#29b9da);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.img-thumbnail{
    margin-bottom: 40px;
}

.promo-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.tab-links{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    
}

.description{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.technologies{
    font-size: 18px;
    font-weight: 300;
}

tr, td{
    padding-top: 0;
    padding-left: 10px;
}

.contents.about-me li{
    font-size: 16px; 
    margin-bottom: 5px;
}




/* -- services -- */
#services{
    padding-top: 5%;
    padding-bottom: 5%;
}

/* .sub-title::before{
    padding-bottom: 50px;
    content: '';
    background: #34bddc;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;    
} */

.col-md-4 div{
    background: #e2e3e3;
    padding: 40px;
    /* margin-bottom: 20px; */
    margin: 35px 25px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.4s all;
    /* transition: background 0.5s, transform 0.5s; */
}

.col-md-4 div:hover{
    background: #73e4d7;
    transform: scale(1.2);
    /* transform: translateY(-10px); */
}

.col-md-4 div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.col-md-4 div h2{
    font-size: 22px;
    margin-bottom: 30px;
}

.col-md-4 div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
}

.col-md-6.services div{
    background: #e2e3e3;
    padding: 40px;
    /* margin-bottom: 20px; */
    margin: 35px 35px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.4s all;
    /* transition: background 0.5s, transform 0.5s; */
}

.col-md-6.services div:hover{
    background: #73e4d7;
    transform: scale(1.2);
    /* transform: translateY(-10px); */
}

.col-md-6.services div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.col-md-6.services div h2{
    font-size: 22px;
    margin-bottom: 30px;
}

.col-md-6.services div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
}

.all-services button{
    position: relative;
    box-shadow: none;
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    margin-top: 20px;
    background-image: linear-gradient(90deg, #69b6ad,#29b9da);
}


/* -- contact -- */
#contact{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contact-left h3{
    margin-bottom: 30px;
}

.contact-left p{
    margin-bottom: 30px;
}

.contact-left p i{
    color:#29b9da;
    margin-right: 15px;
    font-size: 25px;
}

.btn.btn2{
    position: relative;
    color: #e2e3e3;
    border: none;
    background-image: linear-gradient(90deg, #69b6ad,#29b9da);
}

.social-icon a{
    text-decoration: none;
    font-size: 50px;
    color:rgb(221, 222, 218);
    display: inline-block;
    padding: 20px;
    /* transition: transform 0.2s; */
    transition: 0.4s all;
}

/* .social-icon a:hover{
    color:#29b9da;
    transform: translateY(-5px);
} */

.social-icon a:hover .social-linkedin{
    color:#0e76a8;
    transform: scale(1.2);
    /* transform: translateY(-5px); */
}

.social-icon a:hover .social-instagram{
    color:#c92bb7;
    transform: scale(1.2);
    /* transform: translateY(-5px); */
}

.social-icon a:hover .social-github{
    color:#171515;
    transform: scale(1.2);
    /* transform: translateY(-5px); */
}


/* -- footer -- */
#copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    /* background: #262626; */
    font-weight: 300;
    margin-top: 20px;
}
#copyright p a{
    font-size: 20px;
    font-weight: 400;
    color:#29b9da;
}